.content {
  flex: 1; /* Allows the content to grow and fill the remaining space */
  overflow: auto; /* Ensures scrolling if content overflows */
}

.projects-section {
  margin: auto;
  padding: 20px;
  min-height: auto;
  border-radius: 8px; /* Rounded corners for the section */
}

/* Header styling */
.projects-section h2 {
  font-size: 2rem; /* Larger font size for the section header */
  color: #333; /* Dark grey color for the header */
  margin-bottom: 20px; /* Space below the header */
  text-align: center; /* Center the header text */
}

/* List styling */
.projects-section ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}

/* List item styling */
.projects-section li {
  width: 90%;
  margin: auto;
}

@media (max-width: 1200px) {
  .projects-section h2 {
    font-size:1.4rem;
  }

  .projects-section ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .projects-section ul {
    grid-template-columns: repeat(1, 1fr);
  }
}