.loading-container {
  margin-top: 10%;
}

.loading-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading-message{
  font-size: 1.4rem;
  margin-top: 2%;
}

.loading-spinner {
  --mdc-circular-progress-active-indicator-color: #004080;
}

@media (max-width: 783px){
  .loading-message{
    font-size: 1rem;
  }
}