@if(mediaData && mediaData.length!=0){
<section class="content">
  <h4>Media</h4>

  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-interval="false"
  >
    <div class="carousel-inner">
      @for(resource of mediaData; track $index){
      <div class="carousel-item" [class.active]="$index == 0">
        @if(resource.type=='img'){
        <div
          class="slide-background"
          style="background-image: url({{resource.address}});"
        ></div>
        <img
          [src]="resource.address"
          class="d-block w-100"
          alt="{{ resource.name }}"
        />
        } @else {
        <video class="d-block w-100" controls>
          <source [src]="resource.address" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        } @if(resource.name || resource.description){
        <div class="carousel-caption d-none d-md-block caption-custom">
          @if(resource.name){
          <h5>{{ resource.name }}</h5>
          } @if(resource.description){
          <p>{{ resource.description }}</p>
          }
        </div>
        }
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      (click)="checkActiveVideo()"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      (click)="checkActiveVideo()"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

}