<div class="content">
  <a class="return-link" routerLink="../">← Back</a>
  <div>
    @if(project){

    <!-- Project Name -->
    <h2>{{ project.name }}</h2>

    <!-- Project Description (optional) -->
    @if(project.description){
    <section class="data-container">
      <p class="description">{{ project.description }}</p>
      @if(project.imageSrc){
      <div class="image-block">
        <img
          [src]="project.imageSrc"
          alt="{{ project.name }}"
          class="project-image"
        />
      </div>
      }
    </section>
    }

    <span hidden></span>

    @if(project.technologyStack && project.technologyStack.length > 0){
    <!-- Technology Stack (optional) -->

    <section class="tech-container">
      <div class="tech-stack">
        <h4>Technology Stack</h4>
        <ul>
          @for(tech of project.technologyStack; track $index){
          <app-technology-tag [name]="tech" />
          }
        </ul>
      </div>
    </section>
    }

    <section class="links">
      @if(project.gitUrl){
      <div class="link-section">
        <p>
          <a href="{{ project.accessUrl }}" target="_blank"
            >Click to access the project</a
          >
        </p>
      </div>
      }
      <span hidden></span>
      @if(project.gitUrl){
      <div class="link-section">
        <p>
          <a href="{{ project.gitUrl }}" target="_blank"
            >Click to access GitHub repo</a
          >
        </p>
      </div>
      }
    </section>
    @if(project.media && project.media.length > 0){
    <app-media-carousel [media]="project.media" />
    } } @else {
    <p>Project missing</p>
    }
  </div>
</div>
