<div class="content">
  <section id="hero" class="hero-section">
    <div class="hero-content">
      <h1>Hi, I'm Maksym</h1>
      <p>Software Engineer | Web Developer | Java Developer</p>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="about-section">
    <h2>About Me</h2>
    <p class="description-paragraph">
      I am a passionate software engineer with expertise in back-end development,
      primarily with Java and Spring Boot, as well as front-end technologies like TypeScript
      and Angular. I enjoy building a wide range of applications and am always eager to explore new
      approaches and technologies that spark my interest.
    </p>
    <section id="resume" class="resume-section">
      <a href="CV/CV_Maksym_Shyiko_gen.pdf" download="CV_Maksym_Shyiko.pdf"
        >Get CV</a
      >
    </section>
  </section>
</div>
